<!doctype html>
<html lang="en" class="borderbox">
<head>
  <meta charset="utf-8">
  <title>demo</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="author" content="samhou">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="cleartype" content="on">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="">
  <link rel="shortcut icon" href="http://mat1.gtimg.com/www/icon/favicon2.ico"/>

  <!-- build:css -->
  <link rel="stylesheet" href="css/main.css">
  <!-- endbuild -->

  <!-- <script src="http://pingjs.qq.com/ping.js"></script>
  <script src="http://mat1.gtimg.com/www/js/newsapp/jsapi/news.js?_tsid=1"></script> -->
</head>
<body>
  <span class="icon icon-medal"></span>
  <p>Lorem ipsum Officia mollit officia reprehenderit sint dolore dolor nostrud anim nisi tempor eiusmod qui amet amet ut est amet sint incididunt nulla reprehenderit in commodo amet fugiat in anim labore reprehenderit do commodo eiusmod in tempor.</p>

  <!-- build:js -->
  <script src="js/hello.js"></script>
  <script src="js/world.js"></script>
  <!-- endbuild -->
</body>
</html>
